<a href="https://colab.research.google.com/github/HJuliamPR/ColabPython/blob/main/PandasExtraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Leyendo CSV

## importando Archivos CSV

In [1]:
import pandas as pd

In [2]:
# Pandas automatically transform this file in a dataframe
DataStore = pd.read_csv("/content/drive/MyDrive/GoogleColab/superstore_data.csv")

In [3]:
DataStore.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

## Parámetros función read_csv

In [4]:
DataStoreNrows = pd.read_csv("/content/drive/MyDrive/GoogleColab/superstore_data.csv", nrows=5)

# LEYENDO EXCEL

In [5]:
FilePathCO2 = '/content/drive/MyDrive/GoogleColab/emisiones_CO2.xlsx'
# DataCO2 = pd.read_excel(FilePathCO2, sheet_name=['emisiones_C02', 'emisiones_percapita', 'fuentes'])
DataCO2 = pd.read_excel(FilePathCO2, sheet_name='emisiones_C02', usecols='A:D')

In [6]:
DataCO2.columns

Index(['País', 'ISO 3166-1 alpha-3', 'Año', 'Total'], dtype='object')

In [7]:
# With this method I import the excel file as an object.
ExcelCO2 = pd.ExcelFile("/content/drive/MyDrive/GoogleColab/emisiones_CO2.xlsx")
ExcelCO2.sheet_names

['emisiones_C02', 'emisiones_percapita', 'fuentes']

In [8]:
DataCO2.to_excel('/content/drive/MyDrive/GoogleColab/DataCO2.xlsx', index=False)

In [9]:
DataCO2.keys()

# DataCO2_2 = DataCO2['emisiones_C02']
# DataPercapita = DataCO2['emisiones_percapita']
# DataFuentes = DataCO2['fuentes']
# print( type(DataCO2_2), type(DataPercapita), type(DataFuentes))

Index(['País', 'ISO 3166-1 alpha-3', 'Año', 'Total'], dtype='object')

In [10]:
DataCO2_2.head()

NameError: name 'DataCO2_2' is not defined

In [ ]:
DataPercapita.head()

In [ ]:
DataFuentes.head()

## Leyendo desde Google Sheet

In [ ]:
Google_sheet_Id =  '1mpLME14xrr27mCEiQvdwsrRZVfGhJBXC2gohQHUFe0g'
# gviz/tq?tgx=out:csv&sheet ->
sheetName = 'emisiones_percapita'
UrlGoogleSheet = f"https://docs.google.com/spreadsheets/d/{Google_sheet_Id}/gviz/tq?tqx=out:csv&sheet"
UrlPercapita = f"https://docs.google.com/spreadsheets/d/{Google_sheet_Id}/gviz/tq?tqx=out:csv&sheet={sheetName}"

In [ ]:
DataCO2_Google = pd.read_csv(UrlGoogleSheet)
DataPercapita_Google = pd.read_csv(UrlPercapita)

In [ ]:
DataCO2_Google.head()

In [ ]:
DataPercapita_Google.head()

# Leyendo JSON

In [ ]:
DataPacientes = pd.read_json("/content/drive/MyDrive/GoogleColab/pacientes.json")
DataPacientes.head(3)

In [ ]:
DataPacientes2 = pd.read_json("/content/drive/MyDrive/GoogleColab/pacientes_2.json")
DataPacientes2.head(3)

In [ ]:
DataPacientes2 = pd.json_normalize(DataPacientes2['Pacientes'])

In [ ]:
DataPacientes2.to_json = '/content/drive/MyDrive/GoogleColab/DataPacientes2.json'

# Leyendo HTML

# Leyendo SQL

In [11]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [12]:
# DataClientsBank = pd.read_csv('/content/drive/MyDrive/GoogleColab/clientes_banco.csv')
# SQLite, MySQL, PostgreSQL, Oracle, MongoDB.
SQL_Engine = create_engine('sqlite:///:memory:')

In [13]:
DataClientsBank = pd.read_csv('/content/drive/MyDrive/GoogleColab/clientes_banco.csv')

In [ ]:
DataClientsBank.head()

In [14]:
DataClientsBank.to_sql('Clients', SQL_Engine, index=False)

438463

In [15]:
inspector = inspect(SQL_Engine)
inspector.get_table_names()

['Clients']

## Haciendo una consulta Query

In [16]:
Query = 'SELECT * FROM Clients WHERE Categoria_de_renta = "Empleado"'

In [17]:
# This text method is imported from AQL alchemy
Employees = pd.read_sql( sql=text(Query), con = SQL_Engine.connect() )
Employees

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [18]:
Employees.to_sql('Employees', SQL_Engine, index=False)

226059

In [19]:
pd.read_sql_table("Employees", con = SQL_Engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [20]:
pd.read_sql_table("Employees", con = SQL_Engine.connect(), columns=['ID_Cliente',	'Edad',	'Grado_estudio',	'Estado_civil'])

        ID_Cliente  Edad     Grado_estudio      Estado_civil
0          5008804    32    Nivel superior  Relación-estable
1          5008805    32    Nivel superior  Relación-estable
2          5008806    58  Nivel intermedio            Casado
3          5008815    46    Nivel superior            Casado
4          5112956    46    Nivel superior            Casado
...            ...   ...               ...               ...
226054     6837905    43  Nivel intermedio            Casado
226055     6837906    43  Nivel intermedio            Casado
226056     6839936    34  Nivel intermedio            Casado
226057     6840222    43  Nivel intermedio           Soltero
226058     6842885    51  Nivel intermedio            Casado

[226059 rows x 4 columns]

## Actualizando un banco de datos

In [21]:
Query_1 = 'SELECT * FROM Clients'

In [22]:
DataClients = pd.read_sql( sql = text(Query_1), con = SQL_Engine.connect())

In [32]:
DataClients.columns

Index(['ID_Cliente', 'Edad', 'Grado_estudio', 'Estado_civil', 'Tamaño_familia',
       'Categoria_de_renta', 'Ocupacion', 'Años_empleado', 'Rendimiento_anual',
       'Tiene_carro', 'Vivienda'],
      dtype='object')

In [24]:
# Delete rows
from sqlalchemy.exc import SQLAlchemyError
Query_2 = 'DELETE FROM Clients WHERE ID_Cliente=5008804'
try:
  #Return the rows where the query its been applied
  r_set = SQL_Engine.connect().execute( text(Query_2) )
except SQLAlchemyError as error:
  print(error)
else:
  print('Rows deleted: ', r_set.rowcount)

Rows deleted:  1

In [25]:
# Update rows
Query_2 = 'UPDATE Clients SET Grado_estudio = "Nivel superior" WHERE ID_Cliente=5008808'
try:
  #Return the rows where the query its been applied
  r_set = SQL_Engine.connect().execute( text(Query_2) )
except SQLAlchemyError as error:
  print(error)
else:
  print('Rows updated: ', r_set.rowcount)

Rows updated:  1

In [26]:
Query_3 = 'UPDATE Clients SET Rendimiento_anual = 300000 WHERE 	ID_Cliente=6840104'
try:
  #Return the rows where the query its been applied
  r_set = SQL_Engine.connect().execute( text(Query_3) )
except SQLAlchemyError as error:
  print(error)
else:
  print('Rows updated: ', r_set.rowcount)

Rows updated:  1

In [27]:
Query_4 = 'SELECT * FROM Clients WHERE ID_Cliente=6840104'
pd.read_sql( sql = text(Query_4), con = SQL_Engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,300000.0,0,Casa/Departamento propio

In [28]:
Query_5 = 'DELETE FROM Clients WHERE ID_Cliente=5008809'

try:
  #Return the rows where the query its been applied
  r_set = SQL_Engine.connect().execute( text(Query_5) )
except SQLAlchemyError as error:
  print(error)
else:
  print('Rows updated: ', r_set.rowcount)

Rows updated:  1

In [36]:
Query_6 = "INSERT INTO Clients (ID_Cliente, Edad, Grado_estudio, Estado_civil, Tamaño_familia, \
       Categoria_de_renta, Ocupacion, Años_empleado, Rendimiento_anual, Tiene_carro, Vivienda) \
        VALUES (6850985, 33, 'Doctorado', 'Soltero', 1, 'Empleado', 'TI', 2, 290000, 0, 'Casa/Departamento Propio')"

try:
  #Return the rows where the query its been applied
  r_set = SQL_Engine.connect().execute( text(Query_6) )
except SQLAlchemyError as error:
  print(error)
else:
  print('Rows updated: ', r_set.rowcount)

Rows updated:  1

In [37]:
Query_7 = 'SELECT * FROM Clients WHERE ID_Cliente=6850985'
pd.read_sql( sql = text(Query_7), con = SQL_Engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,6850985,33,Doctorado,Soltero,1,Empleado,TI,2,290000.0,0,Casa/Departamento Propio

# DESAFIO

In [ ]:
# DataStoreColumns = pd.read_csv("/content/drive/MyDrive/GoogleColab/superstore_data.csv", \
#                                usecols=['Id', 'Year_Birth', 'Income'])
DataStoreColumns = pd.read_csv("/content/drive/MyDrive/GoogleColab/superstore_data.csv", \
                               usecols=[0, 1, 4])
DataStoreColumns

In [ ]:
DataStoreColumns.to_csv('/content/drive/MyDrive/GoogleColab/DataStoreColumns.csv', index=False)

In [ ]:
DataTest = pd.read_csv('/content/drive/MyDrive/GoogleColab/DataStoreColumns.csv')
DataTest

In [ ]:
DataSUS = pd.read_csv('/content/drive/MyDrive/GoogleColab/datos_sus.csv', encoding='ISO-8859-1', sep=";", skiprows=3, skipfooter=9, engine='python')
DataSUS